<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Új dolgozó hozzáadása</h1>
  <br />
  <form action="#" th:action="@{/ment}" th:object="${dolgozo}" method="post">
    <p><input type="text" th:field="*{nev}" placeholder="Név" required/></p>
    <p><input type="text" th:field="*{cim}" placeholder="Cím" required/></p>
    <p><input type="text" th:field="*{kor}" placeholder="Kor" required/></p>
    <p><input type="submit" value="Hozzáad" /></p>
  </form>
</body>
</html>